/build
/tools/*
*.exe
*.S
*.obj
*.map
/dx8
*.dll
/.cache

/Tools/compilers/*
/Tools/unassemblize
/Tools/x32dbg/*

# unused stuff for a nonmatching reimpl...
/Headers
/Source
CMakeLists.txt
/cmake

.~lock.*

#
/Downloads
/GameData
/Music
/SoundData
/UIGraphics
/UserData

ctx.cpp

*.id*
*.nam
*.til
*.pdb
*.sqlite
*.ilk
